.container-uploaded {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid lightgray;
      padding: 3px;
      width: 100%;
      max-width: 250px;
      input {
        border: none;
        outline: none;
        background: transparent;
        padding: 0.25rem;
      }
    }
  }
  &-renderImages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
    img {
      width: 100%;
      max-width: 250px;
      height: 100%;
      max-height: 200px;
    }
  }
}
